.card {
    box-shadow: 0 6px 6px rgba(#000, 0.3);
    transition: 200ms;
    width: 700px;
    background: #fff;
    margin: 50px;
}

.card__title {
      display: flex;
      align-items: center;
      padding: 30px 40px;
}
.texture_description {flex: 0 1 200px;
    text-align: right;
    margin: 0;
    color: #252525;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.card__body {
      padding: 0 40px;
      display: flex;
      flex-flow: row no-wrap;
      margin-bottom: 25px;
}
  
.featured_text h1 {
          margin: 0;
          padding: 0;
          font-weight: 800;
          font-family: "Montserrat", sans-serif;
          font-size: 44px;
          line-height: 50px;
          color: #181e28;
 }

 .featured_text p {
          margin: 0;
          padding: 0;
            font-size: 18px;
            text-transform: uppercase;
            color: #686e77;
            font-weight: 300;
            margin-bottom: 5px;
 }
  
.image {padding-top: 15px;
        width: 80%;
}
  
.image img {
          display: block;
          max-width: 100%;
          height: auto;
}
  
.description {
        margin-top: 50px;
        margin-bottom: 35px;
}
  
.description p {
          margin: 0;
          font-family: "Open Sans", sans-serif;
          font-weight: 300;
          line-height: 27px;
          font-size: 16px;
          color: #555;
}
  
span.stock {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        color: #a1cc16;
}
  
.reviews .stars {
          display: inline-block;
          list-style: none;
          padding: 0;
}
  
.reviews span {
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          margin-left: 5px;
          color: #555;
}
  
.card__footer {
      padding: 30px 40px;
      display: flex;
      flex-flow: row;
      align-items: center;
      position: relative;}
  
.card__footer::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 40px;
        width: calc(100% - 40px);
        height: 3px;
        background: linear-gradient(
          to right,
          #201503 0%,
          #6d5528 20%,
          #534021 20%,
          #f9e7cc 100%
        );
      }
  
.recommend p {
          margin: 0;
          font-family: "Montserrat", sans-serif;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 14px;
          color: #555;
        }
  
.recommend h3 {
          margin: 0;
          font-size: 20px;
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          text-transform: uppercase;
          color: #201503;
          margin-right: 50px;
        }
  
.action
        button {
          cursor: pointer;
          border: 1px solid #201503;
          padding: 14px 30px;
          border-radius: 200px;
          color: #fff;
          background: #201503;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          transition: 200ms; 
}
  
.action :hover {
            background-color: #ffffff00;
            color: #201503;
          }
    

@media (max-width: 769px) {
.card{
        max-width: 70%;
        
        margin: auto;
}
.recommend h3{
        font-size: 16px;
}
.featured_text h1{
        font-size: 35px;
}
.featured_text p{
        font-size: 15px;
}
        
}
  
@media (max-width:450px) {
 .card{
        max-width:90%;
}
.half{
        height:fit-content;
}
.description p{
        display: none;
}
}
  